{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container category-container">
    <div class="row" id="category-head">
        <h2>{{category.name}} Pitches</h2> <a class="btn btn-info" href="/category/pitch/new/{{category.id}}">Have an idea Pitch It!!</a><br>
    </div>

    <div class="row" id="category-cards">
        {% if pitch %}
            {{macro.displayPitches(pitch)}}
        {% else %}
            <h3 class="text-center">No Pitch in this category. </h3>
        {% endif %}
    </div>
</div>
{% endblock%}