{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- content block -->
{% block content %}
 

 <script type="text/javascript">
 $(document).ready(function($) {
 $.backstretch([
 "static/image/pitch.jpeg",
 "static/image/pitch1.jpeg",
 "static/image/pitch2.jpeg",
 "static/image/pitch3.jpeg"],
 {duration: 3000, fade: 1750});
 });
 </script>
 
    <div class="container">
        <div class="row">
            <h1 id="title-home">Pitch</h1>
            <h3>60 Seconds is all you got to impress someone in this world. 
            Use it wisely.</h3>
            <h3> Dont have an account?<a href="authenticate/register">Register</a></h3> <h3> or </h3> <h3><a href="/authenticate/login">Sign In</a> 
            and pitch your ideas in the different categories below! </h3>
        </div>
        <ul class="category-list text-center">
            {{macro.displayCategories(category)}}
        </ul>
    </div>
{% endblock %}